<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/concrete.css" />
    <link rel="stylesheet" href="static/styles/style.css" />
    <title>{{printf "%s" .Title}}</title>
  </head>
  <body>
    <h1>{{printf "%s" .Title}}</h1>
    <p>
      Generate a random text string based off a selected input text. Uses
      <a target="_blank" rel="me" href="https://gitlab.com/peasleyk/gomark">this</a>
      library to generate the text. Large inputs with large outputs may take long to generate
    </p>
    <p>All outputs will have ending punctuation, and the starting word will be capitalized. If the input is short not not sufficient, an output may fail to be made.</p>
    <p>
      <a target="_blank" href="https://www.gutenberg.org/browse/scores/top">Here's</a>
      a list of public domain books you can try out.
    </p>
    <textarea oninput="showLines()" id="input" rows="20" cols="80" placeholder='Enter text here'></textarea>
    <sup id="text_lines">Lines:</sup>
    <br />
    <sup id="text_length">Length:</sup>
    <br />
    <br />

    <label>Split the text by</label>
    <select id="splitTypeBox">
      <option value="char">character</option>
      <option value="word">word</option>
    </select>
    <label>Determine output length by</label>
    <select id="lengthTypeBox">
      <option value="char">character</option>
      <option value="word">word</option>
    </select>
    <label>Output length [100 - 5000]</label>
    <input type="number" value="100" id="legnthInput" min="100" max="5000" />
    <label>n-gram size [1 - 10]</label>
    <input type="number" value="3" id="ngramInput" min="1" max="10" />
    <br>
    <br>
    <button type="button" value="Save" id="submitButton" onclick="send();">Generate</button>
    <span id="status"></span>
    <div><textarea id="output" rows="20" cols="80"></textarea></div>
    <script type="text/javascript" src="static/scripts/script.js"></script>
  </body>
  <footer>
    <br/>
    <a target="_blank" rel="me" href="https://gitlab.com/peasleyk/mad"> Source </a>
  </footer>
</html>