@media (prefers-color-scheme: dark) {
  :root {
    --background   : #282a36;
    --text         : #f8f8f2;
    --area         : #44475a;
    --border-color : #6272a4;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background   : white;
    --border-color : black;
    --text         : #282a36;
    --area         : white;
  }
}

body {
  margin-left : 5%;
  font-family : sans-serif;
  max-width   : 900px;
  margin      : 0 auto;
  background  : var(--background);
}

textarea {
  background : var(--area);
  border     : 1px solid var(--border-color);
}

a {
  color: var(--text);
}

select,
button {
  background : var(--area);
  border     : 1px solid var(--border-color);
  color      : var(--text);
}

input[type="number"] {
  background-color : var(--area);
  border-color     : var(--border-color);
  color            : var(--text);
}

* {
  color: var(--text);
}
